paddleocr==2.8.1
paddlepaddle-gpu==2.6.1
opencv-python==4.10.0.84
loguru==0.7.2
tqdm==4.66.5
torch==2.4.0
torchvision==0.19.0
thop
ninja==1.11.1.1
tabulate==0.9.0
psutil==6.0.0
tensorboard==2.17.0
numpy==1.26.4
pycocotools==2.0.8
onnx==1.16.2
onnx-simplifier==0.4.10
pytest==8.3.2
gdown==5.2.0
pytesseract==0.3.10
